body {
    text-align: center;
}

.title {
    margin-bottom: 0px;
}

.tag-line {
    margin-top: 0px;
    font-weight: inherit;
    font-size: small;
}

.hr-line {
    width: 230px;
}

#input-num {
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 10px 5px;
    text-align: center;
}

#num-with-tax,
#num-tax,
#num-tax2 {
    color: orangered;
    font-size: x-large;
    font-weight: bold;
}

#get-tax-btn {
    background-color: rgb(86, 137, 231);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

#get-tax-btn:hover {
    background-color: darkblue;
}

#clean-btn {
    background-color: rgb(229, 100, 100);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

#clean-btn:hover {
    background-color: brown;
}