body {
    text-align: center;
}

.title {
    margin-bottom: 0px;
}

.tag-line {
    margin-top: 0px;
    font-weight: inherit;
    font-size: small;
}

.hr-line {
    width: 230px;
}

#input-num {
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 10px 5px;
    text-align: center;
}

#get-tax-btn {
    background-color: rgb(86, 137, 231);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

#get-tax-btn:hover {
    background-color: darkblue;
}

#clean-btn {
    background-color: rgb(229, 100, 100);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

#clean-btn:hover {
    background-color: darkred;
}

#num-with-tax,
#num-tax {
    color: orangered;
    font-size: x-large;
    font-weight: bold;
}

#top-sheet-tax-div {
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    padding: 5px 9px;
}

#num-tax2 {
    color: orangered;
    font-size: medium;
    font-weight: bold;
}

#top-sheet-tax {
    font-size: x-small;
    font-weight: 200;
    margin: 0px;
}

#top-sheet-tax-alert {
    font-size: xx-small;
    font-weight: 500;
    color: red;
    margin: 0px;
    padding-top: 5px;
}